Repository 9luis7/sompofiap: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, htmlhint, python -m black --line-length=100, python -m isort --profile=black, python -m flake8 --max-line-length=100 --max-complexity=10

.lintstagedrc:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.css": ["stylelint --fix", "prettier --write"],
  "*.html": ["htmlhint", "prettier --write"],
  "*.py": ["python -m black --line-length=100", "python -m isort --profile=black", "python -m flake8 --max-line-length=100 --max-complexity=10"]
}

feat: realtime dashboard metrics, alerts scaling + start scripts build backend and open CMD windows
  frontend/index.html
  frontend/modern-app.js
  start-cmd-only.bat
  start.bat
  start.ps1
Due: eslint --fix, prettier --write, htmlhint

feat(tour): guided tour with focus lock, action-gated steps, auto-centering; feat(demo): demo mode cadence controls and pause/resume
  frontend/config.js
  frontend/modern-app.js
  frontend/modern-styles.css
Due: eslint --fix, prettier --write, stylelint --fix

docs: atualizar README/QUICKSTART com novo frontend (toggle React, tour teclado/scroll, dropdown usuário, métricas coerentes, bind 127.0.0.1)
  QUICKSTART.md
  README.md
Due: none

docs: Adiciona secao FAQ completa para gestores e equipe tecnica
  README.md
Due: none

feat: Implementar heatmaps e corrigir problemas do sistema
  backend/config.env.example
  backend/src/controllers/risk-prediction.controller.ts
  backend/src/routes/risk-prediction.routes.ts
  backend/src/services/risk-lookup.service.ts
  backend/src/services/weather-api.service.ts
  frontend/data/heatmap_data.json
  frontend/index.html
  frontend/modern-app.js
  frontend/modern-styles.css
Due: eslint --fix, prettier --write, stylelint --fix, htmlhint
